header {
	background-color: gold;
	margin-bottom: 40px;
}

header h1, p {
	line-height: 70%;
}
body {
	font-family: "Roboto", sans-serif;
}

.card {
	border: 1px solid lightgrey;
	margin-bottom: 20px;
}

.card-image {
	width: 100%;
}

.card-content {
	padding: 20px;
	line-height: 70%
}